html.scl-lock, body.scl-lock {overflow: hidden;}

header {position: fixed; left: 0; top: 0; width: 100%; height: 80px; background-color: #fff; transition: top .4s ease, background-color .4s ease; z-index: 10;}
header.hide {top: -80px;}
header .logo {position: absolute; top: 50%; left: 50px; transform: translateY(-50%); z-index: 10; width: 43px; height: 43px;}
header .logo button {display: block; width: 43px; height: 43px; background: url("../../public/img/frog.png") no-repeat center center / cover ;}
header .inner-dimd {display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); z-index: 1;}
header nav {position: relative; width: 100%; height: 100%; text-align: center; background-color: #fff; transition: height .4s ease, left .4s ease; z-index: 2;}
header nav.show {left: 0;}
header .for-bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; border-bottom: 1px solid #ddd; overflow: hidden; transition: height .4s ease;  overflow: hidden;}
header .for-bg.hide-bg {transition: none;}
header .gnb-w {position: relative; display: inline-block; text-align: center;}
header .gnb {display: flex; justify-content: center; height: 80px; }
header .gnb a {display: block; color: #333;}
header .gnb > li {display: inline-block; position: relative; min-width: 100px; height: 100%;}
header .gnb > li .one-link {position: relative; display: flex; justify-content: center; align-items: center; padding: 0 30px; height: 80px; white-space: nowrap; font-size: max(14px, 16px);}
header .gnb > li .one-link:after {content: ""; display: block; position: absolute; bottom: 0; left: 0; width: 100%; height: 2px; background: #ccc; opacity: 0; transition: opacity .4s ease;}
header .gnb > li .two-depth {display: block; position: absolute; top: 80px; width: 100%; height: auto; overflow: hidden; padding-bottom: 20px; background-color: transparent;}  
header .gnb > li .two-depth > li .two-link {padding: 8px; font-size: max(15px, 15px); color: #999; transition: color .3s}
header .gnb > li .two-depth > li .two-link:hover {color: #000;}
header .gnb > li.on .one-link:after {opacity: 1;}

header .btn-menu-mo {display: none; position: absolute; top: 50%; right: 50px; transform: translateY(-50%); width: 32px; height: 32px; background: url("../../public/img/icon-gnb-allmenu-black.svg") no-repeat center center / cover; z-index: 3;}
header nav .btn-close-mo {display: block; position: absolute; top: 22px; right: 30px; width: 20px; height: 20px; background: url("../../public/img/icon-gnb-close.svg") no-repeat center center / cover;}


/* 로그인 영역 */
header .login-w {position: absolute; z-index: 10;}

/* @media screen and (max-width: 1024px) {
  header {height: 60px;}
  header .logo {left: 30px; width: 50px; height: 28px;}
  header .utils {display: none;}
  header .btn-menu-mo {display: block; right: 30px; width: 24px; height: 24px;}
  header nav {position: fixed; left: 100%; top: 0; width: 100%; height: 100%; background-color: #fff; z-index: 10;}
  header nav:before {display: none;}
  header .for-bg {overflow-y: auto;}

  header nav.show .utils {display: flex; top: 20px; right: 62px; transform: none;}
  header .utils .btn-srch {width: 24px; height: 24px;}
  header .srch-area {z-index: 11;}
  header .srch-area .btn-close-srch {right: 30px;}
  header .lang-area {position: relative; margin-left: 8px; }
  header .lang-area .btn-lang {width: 24px; height: 24px;}
  header .lang-area .lang-w {top: 40px;}
  header .for-bg {padding-top: 80px; }
  header .gnb-w {display: block; overflow-y: auto;}
  header .gnb {display: block; height: auto;}
  header .gnb > li {padding: 0 30px; min-width: unset; width: 100%; text-align: left;}
  header .gnb > li .one-link {justify-content: flex-start; padding: 12px 0; height: auto;}
  header .gnb > li .two-depth {position: static;}
  header .gnb > li .two-depth > li {padding: 0 20px; text-align: left;}
  header .gnb > li .two-depth > li .two-link {padding: 8px 0;}
  header .gnb > li.on .one-link:after {transform: translateY(-50%) rotate(180deg);}

}

@media (max-width: 600px){
  header .srch-area .form-search {width: calc(100% - 60px);}
} */


