/* .menu-container {

    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.tab-container {
    width: 80%;

}

.tab-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 20px;
}

.tab-item {
    color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.tab-item.active {
    background-color: #5fba7d;
    border-radius: 20px;
    color: white;
}

.content-container {
    margin-top: 20px;
    background-color: whitesmoke;
}


.totalbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 80vw;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
}

.box input[type="number"] {
    width: 80%;

}

.radioBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

.radioBox>div {
    border: 1px solid gray;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}

.barChart-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barChart {
    width: 30%;
    height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 10px;

}

.barChart text {
    font-weight: bold;
} */

.carbon-box{background-color: #B7E7E9; display: flex; flex-direction: column; justify-content: center;}

.menu-container {max-width: 1200px; margin: 140px 100px;}
.tab-container {background-color: white; border-radius: 20px;}
.menu-container .tab-menu{display: flex; padding: 5px; justify-content:space-between;}
.menu-container .tab-menu .tab-item{width: 30%; height: 35px; padding-top: 7px; text-align: center; border-radius: 20px; background-color: white;}
.menu-container .tab-menu .tab-item.tab-item.active{background-color:#25B058; color: white;}

.content-container{padding: 0 100px;}

.top_box{max-width: 1200px; margin-bottom: 10px;}
.top_box .title_info{background-color: white; padding: 10px; border-radius: 5px; font-size: 20px;}
.totalbox{max-width: 1200px; display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; gap: 10px;}
.item_title{height: 50px; font-size: 20px; padding-top: 4px; border-bottom: 1px solid gray;}
.totalbox .box_item{height: 400px; padding: 10px 10px; background-color: white; border-radius: 10px;}
.totalbox .box_item:focus{border: 2px solid #25B058;}
.totalbox .box_item:last-child{grid-column: 1 / -1; margin-bottom: 10px;}
.bottom_box{max-width: 1200px; background-color: white; margin-bottom: 10px; border-radius: 10px;}


.totalbox .box_item .input_box{display: flex; width: 100%; justify-content: space-between;}
.totalbox .box_item .input_box input{flex-grow: 1;}
.totalbox .box_item .input_box span{width: 50px;text-align: center;}

.radioBox {display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; margin: auto;}
.radioBox > div {border: 1px solid gray; background-color: white; padding: 10px; border-radius: 5px;}